{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
    Iniciar un nuevo tema
{% endblock title %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}"> Tableros</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}"> {{board.name}}</a></li>
    <li class="breadcrumb-item active">Nuevo tema</li>
{% endblock breadcrumb %}
    

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        
        {% include 'includes/form.html' %}
            
        <button type="submit" class="btn btn-success">Post</button>
    </form>
{% endblock content %}
        