{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
    Iniciar un nuevo tema
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock stylesheet %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}"> Tableros</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}"> {{board.name}}</a></li>
    <li class="breadcrumb-item active">Nuevo tema</li>
{% endblock breadcrumb %}
    

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        
        {% include 'includes/form.html' %}
            
        <button type="submit" class="btn btn-success">Post</button>
    </form>
{% endblock content %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock javascript %}        