{% extends 'base_accounts.html' %}


{% block title %}
    Resetear tu contraseña
{% endblock title %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Resetear tu contraseña</h3>
                    <p>Checa tu bandeja de email, te hemos enviado un link para que puedas resetear tu contraseña. Si no aparece revisa tu carpeta de span.</p>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Regresar al Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    
    