{% extends 'base_accounts.html' %}


{% block title %}
    
    {% if validlink %}
        Cambiar contraseña para {{ form.user.username }}
    {% else %}
        Resetear tu contraseña
    {% endif %}       
{% endblock title %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    
                    {% if validlink %}
                        <h3 class="card-title">Cambiar contraseña para @{{form.user.username}}</h3>
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-success btn-block">Cambiar contraseña</button>
                        </form>
                    {% else %}
                        <h3 class="card-title">Resetear su contraseña</h3>
                        <div class="alert alert-danger" role="alert">
                            Ups! al parecer haz dado click en un link inválido para resetear tu contraseña. Por favor intentalo de nuevo.
                        </div>
                        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicitar un link para resetear mi contraseña</a>
                    {% endif %}   
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    
    