{% extends 'base_accounts.html' %}


{% block title %}
    Cambiar contraseña
{% endblock title %}
    


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cambiar tu contraseña</h3>
                    <p>Ingresa tu email para enviarte un link desde donde podrás resetear tu contraseña</p>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Enviar email para resetear mi contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    